@model RoleTOPMVC.ViewModels.HistoricoViewModel
<main>
    <h2>@ViewData["H2"]</h2>
    <table>
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo de Festa</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Eventos in Model.Evento)
                    {
                        <tr>

                            <td>@Eventos.Cliente.Nome</td>

                            <td>@Eventos.Cliente.Email</td>

                            <td>@Eventos.TipoFesta</td>
                            
                            <td>@Eventos.Horario</td>
                            
                        </tr>
                    }
        </tbody>
    </table>

</main>