@model RoleTOPMVC.ViewModels.HistoricoViewModel
<main>
    
    <table> 
        <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Tipo de Festa</th>
                <th>Horario</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var Eventos in Model.Evento)
                    {
                        <tr>
                            <td>@Eventos.Id</td>

                            <td>@Eventos.QuantsPessoas</td>

                            <td>@Eventos.Servicos</td>
                            
                            <td>@Eventos.Horario</td>

                            <td>@Eventos.Cliente.Nome</td>

                            <td>@Eventos.Cliente.Email</td>

                            <td>@Eventos.Cliente</td>
                        
                        </tr>
                    }
        </tbody>
    </table>

</main>